<h1>Pages#home</h1>

<%= link_to "login", new_user_session_path %>
<%= link_to "sign up", new_user_registration_path %>
<%= link_to "sign out", destroy_user_session_path,  method: :delete%>
<%= link_to "market place", pokemons_path %>
