<div class="header-container">
    <div class="text-information">
      <h1>Gotta catch them all !</h1>
      <p>The first peer to peer online Pokemon shop.
        The most needed Pokemon Marketplace!</p>
      <div class="header-btn">
        <%= link_to "GO TO MARKETPLACE", pokemons_path %>
      </div>
    </div>
    <div class="img-information" style="background-image: url('<%= image_path('landing_page_visual.png') %>')">
      <img src="" alt="">
    </div>
  </div>
</div>

<%# <%= link_to "sign up", new_user_registration_path %>
<%# <%= link_to "sign out", destroy_user_session_path,  method: :delete%>
