.arti-alerts {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 1000;
  color: white;
  justify-content: center;
  font-weight: bold;
  animation: fadeOut 5s forwards;
  font-size: 20px;
}

.arti-alerts img {
  width: 120px;
  height: 120px;
}

@keyframes fadeOut {
  from {
    opacity: 1;
  }

  to {
    opacity: 0;
  }
}



.tenor-gif-embed {
  width: 80px;
  height: 80px;
}
