.alexis-forgetpassword-container {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 80vh;
}

// CARD

.alexis-forgetpassword-card {
  position: relative;
  height: 400px;
  width: 400px;
  border-radius: 20px;
  background-color: #21344B;
}

// LOGO

.alexis-forgetpassword-logo {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  margin-bottom: 30px;
}

.alexis-forgetpassword-logo-image img {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.alexis-forgetpassword-logo h1 {
  text-align: center;
  font-size: larger;
  color: white;
  margin-top: 10px;
}

// TITLE

.alexis-forgetpassword-card h2 {
  text-align: center;
  font-size: xx-large;
  margin-bottom: 20px;
}

// FORM

.alexis-forgetpassword-card label {
  color: white;
}

.alexis-forgetpassword-card .form-actions input {
  font-size: medium;
}


// BONUS BTN

.alexis-forgetpassword-bonus-btn {
  display: flex;
  align-items: center;
  justify-content: center;
}

.alexis-forgetpassword-bonus-btn a {
  margin: 20px;
  color: white;
  text-decoration: none;
  transition: 0.2s ease-in-out;
}

.alexis-forgetpassword-bonus-btn a:hover {
  color: white;
  text-decoration: underline;
}

// PIKACHU

.alexis-pikaimg-password {
  position: absolute;
  right: -160px;
  top: -85px;
}

.alexis-pikaimg-password img {
  height: 200px;
  width: 200px;
}
