.login-page {
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  height: 80vh;
  width: 100%;
}

.login-container {
  position: relative;
  height: 460px;
  width: 400px;
  border-radius: 20px;
  background-color: #21344B;
}

// LOGO
.login-page .logo {
  margin-top: 20px;
}

.login-page img {
  height: 45px;
  width: 45px;
  margin-right: 10px;
}

.login-page h2 {
  text-align: center;
  font-size: larger;
  margin-top: 10px;
}

// SECTION SIGN UP / FORGET PASSWORD
.btn-bonus {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
}

.btn-bonus a {
  display: inline-block;
  color: white;
  margin: 20px;
}

// PIKACHU

.alexis-pikaimg {
  position: absolute;
  right: -170px;
  top: -85px;
}

.alexis-pikaimg img {
  height: 200px;
  width: 200px;
}
