.navbar-lewagon {
  justify-content: space-between;
  background: white;
}

.navbar-lewagon .navbar-collapse {
  flex-grow: 0;
}

.navbar-lewagon .navbar-brand img {
  width: 40px;
}

.Arti-btn-Mkt {
  color: white;
  text-decoration: none;
  text-decoration: underline;
  font-weight: normal;
}

.Arti-btn-Mkt:hover {
  color:white;
}
