<h1>MARKET PLACE (index pokemon)</h1>
<%= link_to "Create", new_pokemon_path %>
<%= link_to "My Profile", my_profile_profiles_path %>

<% @pokemons.each do |pokemon| %>
  <% if pokemon.reserved == false %>
    <%= link_to pokemon.name, pokemon_path(pokemon)  %>
    <%= pokemon.price %>
  <% end %>
<% end %>
