// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";

// ALERT

.fixed-bottom {
  position: fixed;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.fixed-bottom img {
  display: flex;
  flex-direction: column;
  height: 60px;
  width: 60px;
}
